In [83]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [64]:
df0 = pd.read_csv('NYC_Jobs.csv')
df0.head(10)

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,544477,ADM CONSTRUCTION PRJ MGR-NM,DEPARTMENT OF TRANSPORTATION,External,"Engineering, Architecture, & Planning",53702.0000,146121.00
1,459790,ADM MANAGER-NON-MGRL FRM M1/M2,HRA/DEPT OF SOCIAL SERVICES,Internal,Administration & Human Resources Constituent S...,76270.0000,98830.00
2,272382,ASSOCIATE PUBLIC HEALTH SANITA,DEPT OF ENVIRONMENT PROTECTION,Internal,"Public Safety, Inspections, & Enforcement",60673.0000,91795.00
3,539975,ADMINISTRATIVE DIRECTOR OF RES,ADMIN FOR CHILDREN'S SVCS,External,Social Services,80000.0000,84000.00
4,547692,COMMUNITY ASSOCIATE,BRONX DISTRICT ATTORNEY,External,Administration & Human Resources Legal Affairs...,60000.0000,60000.00
5,539169,CLERICAL ASSOCIATE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health Building Operations & Maintenance,17.9803,20.68
6,533017,ADMINISTRATIVE STAFF ANALYST (,POLICE DEPARTMENT,External,Communications & Intergovernmental Affairs,94715.0000,136260.00
7,530985,ECONOMIST,DEPT OF HEALTH/MENTAL HYGIENE,Internal,"Finance, Accounting, & Procurement Health",56013.0000,65000.00
8,544430,STAFF ANALYST,NYC HOUSING AUTHORITY,External,"Finance, Accounting, & Procurement",62470.0000,80008.00
9,508504,CHILD AND FAMILY SPECIALIST,ADMIN FOR CHILDREN'S SVCS,Internal,Social Services,73027.0000,87622.00

In [65]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5222 entries, 0 to 5221
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job ID               5222 non-null   int64
 1   Civil Service Title  5222 non-null   object
 2   Agency               5222 non-null   object
 3   Posting Type         5222 non-null   object
 4   Job Category         5220 non-null   object
 5   Salary Range From    5222 non-null   float64
 6   Salary Range To      5222 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 204.1+ KB

In [66]:
df0.describe()

              Job ID  Salary Range From  Salary Range To
count    5222.000000        5222.000000      5222.000000
mean   527865.015703       61803.948414     83460.340026
std     42885.174255       30371.353344     43463.990760
min     87990.000000           0.000000        15.450000
25%    529098.000000       49390.000000     60000.000000
50%    538038.000000       59422.000000     80478.000000
75%    546676.000000       75504.000000    105000.000000
max    552937.000000      270000.000000    300000.000000

In [67]:
df0.shape

(5222, 7)

In [68]:
df0.groupby("Agency")

In [69]:
df0.groupby("Agency").mean

In [74]:
nmot = "numeric_only = True"
df0.groupby("Agency").mean(nmot)

,Job ID,Salary Range From,Salary Range To
Agency,,,
ADMIN FOR CHILDREN'S SVCS,515238.697509,61308.827796,77320.662018
ADMIN TRIALS AND HEARINGS,536373.680000,51942.021832,60145.169200
BOARD OF CORRECTION,547391.500000,79986.000000,93000.000000
BOROUGH PRESIDENT-BRONX,549363.000000,47270.000000,153151.000000
BOROUGH PRESIDENT-QUEENS,544519.000000,38333.000000,63794.000000
...,...,...,...
PUBLIC ADMINISTRATOR-NEW YORK,504896.600000,40635.000000,60905.000000
TAX COMMISSION,534907.666667,65884.500000,75073.966667
TAXI & LIMOUSINE COMMISSION,539298.990654,57665.176516,78581.827411
TEACHERS RETIREMENT SYSTEM,549284.923077,47378.230769,75694.846154
TECHNOLOGY & INNOVATION,510742.894737,46557.265263,70109.265263

In [76]:
df0.groupby("Agency")["Salary Range From"].mean()

Agency
ADMIN FOR CHILDREN'S SVCS        61308.827796
ADMIN TRIALS AND HEARINGS        51942.021832
BOARD OF CORRECTION              79986.000000
BOROUGH PRESIDENT-BRONX          47270.000000
BOROUGH PRESIDENT-QUEENS         38333.000000
                                     ...
PUBLIC ADMINISTRATOR-NEW YORK    40635.000000
TAX COMMISSION                   65884.500000
TAXI & LIMOUSINE COMMISSION      57665.176516
TEACHERS RETIREMENT SYSTEM       47378.230769
TECHNOLOGY & INNOVATION          46557.265263
Name: Salary Range From, Length: 61, dtype: float64

In [89]:
pd.DataFrame(df0.groupby(["Agency", "Posting Type"])["Salary Range From"].mean())

                                          Salary Range From
Agency                      Posting Type
ADMIN FOR CHILDREN'S SVCS   External           61311.491216
                            Internal           61306.329692
ADMIN TRIALS AND HEARINGS   External           51942.021832
                            Internal           51942.021832
BOARD OF CORRECTION         External           79986.000000
...                                                     ...
TAXI & LIMOUSINE COMMISSION Internal           57362.912377
TEACHERS RETIREMENT SYSTEM  External           47366.900000
                            Internal           47385.312500
TECHNOLOGY & INNOVATION     External           41767.940000
                            Internal           50040.410909

[120 rows x 1 columns]

In [81]:
df0.groupby("Agency")["Salary Range From"].agg(["mean", "median"])

                                       mean   median
Agency
ADMIN FOR CHILDREN'S SVCS      61308.827796  58700.0
ADMIN TRIALS AND HEARINGS      51942.021832  50291.0
BOARD OF CORRECTION            79986.000000  79986.0
BOROUGH PRESIDENT-BRONX        47270.000000  47270.0
BOROUGH PRESIDENT-QUEENS       38333.000000  38333.0
...                                     ...      ...
PUBLIC ADMINISTRATOR-NEW YORK  40635.000000  41483.0
TAX COMMISSION                 65884.500000  93519.0
TAXI & LIMOUSINE COMMISSION    57665.176516  57078.0
TEACHERS RETIREMENT SYSTEM     47378.230769  58700.0
TECHNOLOGY & INNOVATION        46557.265263  54100.0

[61 rows x 2 columns]

In [85]:
def vitalstatistix(julius):
    return julius.mean()
    
df0.groupby("Agency")["Salary Range From"].apply(vitalstatistix)

Agency
ADMIN FOR CHILDREN'S SVCS        61308.827796
ADMIN TRIALS AND HEARINGS        51942.021832
BOARD OF CORRECTION              79986.000000
BOROUGH PRESIDENT-BRONX          47270.000000
BOROUGH PRESIDENT-QUEENS         38333.000000
                                     ...
PUBLIC ADMINISTRATOR-NEW YORK    40635.000000
TAX COMMISSION                   65884.500000
TAXI & LIMOUSINE COMMISSION      57665.176516
TEACHERS RETIREMENT SYSTEM       47378.230769
TECHNOLOGY & INNOVATION          46557.265263
Name: Salary Range From, Length: 61, dtype: float64

In [97]:
pd.DataFrame(df0.groupby(["Agency", "Posting Type"], as_index = False)["Salary Range From"].mean())

                          Agency Posting Type  Salary Range From
0      ADMIN FOR CHILDREN'S SVCS     External       61311.491216
1      ADMIN FOR CHILDREN'S SVCS     Internal       61306.329692
2      ADMIN TRIALS AND HEARINGS     External       51942.021832
3      ADMIN TRIALS AND HEARINGS     Internal       51942.021832
4            BOARD OF CORRECTION     External       79986.000000
..                           ...          ...                ...
115  TAXI & LIMOUSINE COMMISSION     Internal       57362.912377
116   TEACHERS RETIREMENT SYSTEM     External       47366.900000
117   TEACHERS RETIREMENT SYSTEM     Internal       47385.312500
118      TECHNOLOGY & INNOVATION     External       41767.940000
119      TECHNOLOGY & INNOVATION     Internal       50040.410909

[120 rows x 3 columns]